<div class="container">

  <h3>Cab: </h3>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Name: {{ carDetail.cabTypeName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Id: {{ carDetail.cabTypeId }}</h6>
      <a [routerLink]="['/carForm', carDetail.cabTypeId]" class="btn btn-warning ">Update link</a>
      <a (click)="delete(carDetail.cabTypeId)" class="btn btn-danger float-right">Delete link</a>
    </div>
  </div>

  <h3>Bookings: </h3>

  <div class="row">
    <div class="col-12" *ngIf="carDetail.bookingDetailResponses.length < 1">
        no booking for this cab
    </div>
    <div class="col-12" *ngFor="let booking of carDetail.bookingDetailResponses">

      <hr>
      <div class="breadcrumb row">
        <div class="attribute col-12"> id<strong class="strong">{{ booking.id }}</strong> </div>
        <div class="attribute col-12"> email<strong class="strong">{{ booking.email }}</strong> </div>
        <div class="attribute col-12"> bookingDate<strong class="strong">{{ booking.bookingDate }}</strong> </div>
        <div class="attribute col-12"> bookingTime<strong class="strong">{{ booking.bookingTime }}</strong> </div>
        <div class="attribute col-12"> pickupAddress<strong class="strong">{{ booking.pickupAddress }}</strong> </div>
        <div class="attribute col-12"> landmark<strong class="strong">{{ booking.landmark }}</strong> </div>
        <div class="attribute col-12"> pickupDate<strong class="strong">{{ booking.pickupDate }}</strong> </div>
        <div class="attribute col-12"> pickupTime<strong class="strong">{{ booking.pickupTime }}</strong> </div>
        <div class="attribute col-12"> contactNo<strong class="strong">{{ booking.contactNo }}</strong> </div>
        <div class="attribute col-12"> status<strong class="strong">{{ booking.status }}</strong> </div>
        <div class="attribute col-12"> fromPlace<strong class="strong">{{ booking.fromPlace.placeName }}</strong> </div>
        <div class="attribute col-12"> toPlace<strong class="strong">{{ booking.toPlace.placeName }}</strong> </div>
      </div>

    </div>
  </div>

</div>
