<div class="container">
  <p>booking-form works!</p>
  <form (ngSubmit)="update()">
    <div class="alert alert-danger" *ngIf="false">
      Invalid email/password
    </div>
    <div class="form-group">
      <label for="lblpickupAddress">pickupAddress</label>
      <input type="text" class="form-control" id="pickupAddress" aria-describedby="pickupAddressHelp"
        name="pickupAddress" [(ngModel)]="booking.pickupAddress" />
    </div>
    <div class="form-group">
      <label for="lblemail">email</label>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
        name="email" placeholder="{{booking.email}}" disabled />
    </div>
    <input type="submit" class="btn btn-primary" value="submit" />
  </form>
</div>
